@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  /* font-family: "KonnectRegular"; */

  background-color: #ffffff;

  margin: 0;
  padding: 0;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

header {
  
background-color: #f2f2f2;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}
.hed {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#one{
  
  background-color: #43ff35;
}
#logo_Titre{
  width: ;
  background-color: #ff3535;
}
#logo_att{
  width: ;
  background-color: #320a5a;
}
#tools_blocks{
  width: 30% ;
  background-color: #ff35e4;
}






#divTitre,
#divTitreMenu {
  float: left;
}

#btn_levels {
  margin-top: 5px;
  margin-left: 10px;
}

#divTitre p {
  font-size: 15px;
}

#div_toolboxes {
  float: left;
  margin-top: 5px;
}



/* surcharge css min pour accéssibilité
------------------------------------------------ */
.btn-sm,
.btn {
  font-size: 14px;
  padding: 15px 15px;
  border: none;
  text-align: center;
}
.btn-sm:hover,
.btn:hover {
  background-color: #9a35ff;
  color: #ffffff;
}
.nav {
  background-color: #fd0000;
}
.nav-item:active {
  font-size: 14px;
  line-height: 0;
  padding: 0px 0px;
  border: 1px solid #000000;
  border-radius: 5px;
}
#SupNav {
  border: 0px;
}
.btn-level {
  font-size: 16px;
  line-height: 0;
  padding: 20px 15px;
}
.btn-level:active {
  background-color: #9a35ff;
}

#tab_supervision,
#tab_arduino {
  font-size: 14px;
  line-height: 0;
  padding: 0px 0px;
  border: 1px #000000;
}
#tab_supervision:hover,
:hover,
#tab_arduino:hover {
  color: #000000;
}
#serialport_ide {
  top: 5px;
}

/*----------------------------------------------- */
.menuPanel-ver {
  width: 100px;
  height: 650px !important;
}

html[dir="RTL"] .menuPanel-ver {
  clear: both;
  float: right;
  width: 100px;
  padding-left: 0px;
  padding-right: 10px;
}

.div_close_modal {
  padding-right: 10px;
  float: right;
  bottom: 10px;
  position: absolute;
  text-align: center;
}

#btn_CopyCode {
}

#btn_card_picture_mini {
  padding-right: 10px;
  float: left;
  text-align: center;
}

#btn_card_picture_maxi {
  padding-right: 10px;
  float: left;
  text-align: center;
}

.div_miniPicture-ver {
  /*     position: absolute; */
  /* 	float: left; */
  /* 	padding-left: 20px; */
  /* 	bottom: 45px; */
  text-align: center;
  clear: both;
}

.div_miniPicture-hor {
  position: absolute;
  clear: right;
  float: center;
  margin: 20px;
  bottom: 105px;
  text-align: center;
}

.div_help_button-ver {
  width: 200px;
  bottom: 10px;
  /* position: absolute; */
  text-align: center;
}

.div_tools_button-ver {
  width: 20px;
}

#div_about {
  width: 200px;
  bottom: 130px;
  text-align: center;
}

.div_help_button-hor {
  padding-left: 0px;
  bottom: 10px;
  position: absolute;
  text-align: center;
}

#div_accessibility_button {
  width: 200px;
  bottom: 90px;
  /* position: absolute; */
  text-align: center;
}

html[dir="RTL"] .navbar-right {
  margin-right: -50px;
  width: 225px;
}

.btn_ver {
  text-align: left !important;
  margin: 5px 0;
}


/* html[dir="RTL"] #menuPanelConfig, html[dir="RTL"] #menuPanelBlockly, html[dir="RTL"] #menuPanelFiles {
    float: right;
} */

.menuPanelBlockly-hor {
  clear: both;
  float: left;
  padding-left: 10px;
}

html[dir="RTL"] .menuPanelBlockly-hor,
html[dir="RTL"] .menuPanelBlockly-ver {
  float: right;
  padding-right: 10px;
  margin-top: 10px;
}

/* .menuPanelFiles-hor {
	float: right;
	padding-right: 10px;
} */

/* html[dir="RTL"] .menuPanelFiles-hor {
    float: left;
    padding-left: 10px;
} */

.divSwitch-hor {
  float: left;
  padding-left: 10px;
}

html[dir="RTL"] .divSwitch-hor {
  float: right;
  padding-right: 10px;
}

.divCard-hor {
  float: left;
  padding-left: 10px;
}

.modal-body-config-global_left {
  position: relative;
  height: 280px;
}

.arduino_card_mini_picture_div {
  position: absolute;
  top: 0;
  right: 5px;
}

#arduino_card_mini_picture {
  max-width: 220px;
  max-height: 300px;
}

html[dir="RTL"] .divCard-hor {
  float: right;
  padding-right: 10px;
}

.divConfig-hor {
  float: left;
  padding-left: 10px;
}

html[dir="RTL"] .divConfig-hor {
  float: right;
  padding-right: 10px;
}

#btn_logout {
  position: absolute;
  top: 3px;
  background-color: #41ffe6;
}

#btn_doc-hor {
  float: left;
  bottom: 10px;
}

#languageMenu {
  background-color: #9a35ff;
  color: #ffffff;
  /*position: absolute;
	top: 35px;
	right: 15px;*/
}

html[dir="RTL"] #languageMenu {
  left: 10px;
  right: auto;
}

#content_area {
  display: flex !important;
  height: 100%;
  width: 100% !important;
}

#content_blocks {
  
  max-height: 100% !important;
  width: 75% !important;
}
#divBody {
  border-right: 1px solid #d3d3d3;
  max-height: 100% !important;
  width: 5% !important;
  display: flex;

}
#content_arduino {
  max-height: 100% !important;
  width: 30% !important;
}
#pre_previewArduino {
  background-color: #f2f2f2;
  border: none;
  height: 100%;
  width: 100%;
  border-left: 1px solid #d3d3d3;
}
#menuPanel{
	
	background-color: #587a9b;
}

/* back-block */
/* ,#content_blocks,#content_factory {
	height:650px !important;
	background-color: #ff0000 !important;
	width: 100% !important;
	display: flex;
} */

/* #content_term,#content_arduino,#content_supervision {
	padding: 5px 5px 20px 0px;
	top: 40px;
	height: 100%;
	width: 100%;
	background-color: #9a35ff !important;
	
	
} */



#blockly_l {
  float: left;
  height: 99%;
  width: 50%;
}
#blockly_r {
  float: right;
  height: 99%;
  width: 50%;
}
#btn_group {
  position: absolute;
  right: 15px;
  top: 0px;
  z-index: 10;
}
#barre {
  padding: 3px 0px 0px 10px;

  background-color: #9a35ff;
}
#barre_h {
  padding: 5px 5px 5px 10px;
  background-color: #9a35ff;
}
#barre_ide {
  padding: 2px 5px 5px 10px;
  background-color: #9a35ff;
}
#btn_term {
  right: 15px;
  top: 5px;
  z-index: 10;
}

#serial-checboxes {
  margin-left: 20px;
}

.btn-primary {
  background-color: #9a35ff;
}
/* #btn_deleted {
	position: absolute;
	right: 100px;
	bottom: 40px;
	z-index: 10;
} */

html[dir="RTL"] #btn_deleted {
  left: 100px;
}

#pre_xml {
  height: 85%;
  width: 100%;
}

#modal-body-config {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

#select_all {
  margin-left: 15px;
}

html[dir="RTL"] #select_all {
  margin-right: 15px;
}

#span_select_all {
  font-weight: bold;
}

.blocklySvg {
  border-top: none !important;
}

#debug_arduino {
  height: 25%;
  border-width: 2px;
  border-color: black;
  background-color: rgba(8, 8, 8, 1);
  /* color: rgba(29, 147, 47, 1); */
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#local_debug {
  height: 31%;
  width: 100%;
  border-width: 2px;
  border-color: black;
  background-color: rgba(8, 8, 8, 1);
  /* color: rgba(29, 147, 47, 1); */
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.blocklyToolboxDiv {
  background-color: #f0f0f0 !important;
}

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1;
}

.blocklyTreeRoot {
  padding: 0 !important;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
  position: relative;
}

.blocklyToolboxDiv_hide .blocklyTreeRoot_hide [role="treeitem"] {
  position: fixed;
}

.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] .blocklyTreeRow {
  line-height: normal !important;
  padding: 6px 50px 6px 12px !important;
}

html[dir="RTL"]
  .blocklyToolboxDiv
  .blocklyTreeRoot
  [role="treeitem"]
  .blocklyTreeRow {
  padding: 6px 12px 6px 50px !important;
}

.blocklyTreeRow {
  height: 30px !important;
  line-height: 30px !important;
}

/* .blocklyTreeRow:hover { */
/* background-color: #018790 !important; */
/* } */

.blocklyTreeSeparator {
  background: none repeat scroll 0 0 #e9f9f9 !important;
  border-bottom: none !important;
  height: 10px !important;
}

.colors_category {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

html[dir="RTL"] .colors_category {
  right: 0;
}

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../media/Ripple-1s-200px.svg) center no-repeat #ffffff;
}

#div_miniPicture:hover {
  cursor: pointer;
}
.vignette {
  max-width: 100px;
  max-height: 100px;
}
.margin-top-5 {
  margin-top: 5px;
}
.blocklyScrollbarKnob {
  fill: #9a35ff !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}

#convertModal .modal-content:hover {
  cursor: move;
  background-color: #00929f;
  color: #006468;
}
.draggable {
}

#RGB_modal .modal-content:hover {
  cursor: move;
  cursor: move;
  background-color: #00929f;
  color: #006468;
}
.draggable {
  background-color: #fd0000;
}

/* Layout graph
----------------------------------*/
#template_tabs4_pin {
  position: relative;
  left: 0px;
  top: -500px;
}

#CanvasGraph_title {
  position: relative;
  left: 0px;
}

#CanvasGraph_button_div {
  position: relative;
  left: 0px;
}

#CanvasGraph {
  position: relative;
  top: -30px;
  left: 200px;
}

/* Prototype window
----------------------------------*/
.popup_effect {
  background: #11455a;
  opacity: 0.2;
}

/* Prototype window
----------------------------------*/

.btn-arduino {
  color: #018790;
  width: 28px;
  height: 28px;
  background-color: #006468;
  border-color: #000000;
  line-height: 28px;
  padding: 0;
  border-radius: 50%;
}
.btn-arduinoRect {
  color: #018790;
  width: 28px;
  height: 28px;
  background-color: #006468;
  border-color: #000000;
  line-height: 1px;
  padding: 0;
  border-radius: 0px;
}
.btn-arduino:hover,
.btn-arduinoRect:hover,
.btn-arduino:focus {
  background-color: #ffffff;
  border-color: #000000;
}
.btn-arduino:active,
.btn-arduinoRect:active,
.btn-arduino.active,
.open .dropdown-toggle.btn-arduino,
.open .dropdown-toggle.btn-arduinoRect {
  background-color: #ffcc00;
  border-color: #000000;
}
.btn-arduino.disabled,
.btn-arduinoRect[disabled],
.btn-arduino[disabled],
fieldset[disabled] .btn-arduino,
.btn-arduino.disabled:hover,
.btn-arduino[disabled]:hover,
fieldset[disabled] .btn-arduino:hover,
.btn-arduino.disabled:focus,
.btn-arduino[disabled]:focus,
fieldset[disabled] .btn-arduino:focus,
.btn-arduino.disabled:active,
.btn-arduino[disabled]:active,
fieldset[disabled] .btn-arduino:active,
.btn-arduino.disabled.active,
.btn-arduino[disabled].active,
fieldset[disabled] .btn-arduino.active {
  background-color: #ffffff;
  border-color: #000000;
}
.btn-arduino .badge {
  color: #00929f;
  background-color: #ffffff;
}

#fenetre_term {
  width: 630px;
  height: 415px;
  border: 1px solid #ccc;
  padding: 0px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  overflow: auto;
}
h4 {
  margin-left: 5px;
}

/* .fa, .fas{
  display: inline-block;
 
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .fa-lg {
  font-size: 1.2em;
  line-height: 0.75em;
  vertical-align: -15%;
  text-align: center;
}
.fa-1_5x {
  font-size: 1.3em;
  text-align: center;
}
.fa-2x {
  font-size: 2em;
  text-align: center;
}
.fa-3x {
  font-size: 3em;
  text-align: center;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-inverse {
  color: #ffffff;
}
.fa-industry:before {
  content: "\f275";
}
.fa-times:before {
  content: "\f00d";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-camera:before {
  content: "\f030";
}
.fa-code:before {
  content: "\f121";
}
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microchip:before {
  content: "\f2db";
}
.fa-repeat:before {
  content: "\f01e";
}
.fa-undo:before {
  content: "\f0e2";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-file:before {
  content: "\f15b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-cog:before {
  content: "\f013";
}
.fa-user:before {
  content: "\f007";
}
.fa-check:before {
  content: "\f00c";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-github:before {
  content: "\f09b";
} */

#menuPanelConfig {
	text-align: center;
background-color: #2bb9f1;


}


.btnt{
	 
	color: #ffffff;




}
.btnt i{

font-size: 30px;

}
.btnt:hover{
	

	color: #000000;
   
}

  